<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>die Präsentation ... wird gerade ausgeführt</h3>
                <p>In welchem Modus wollen Sie die Präsentation verwenden?</p>
            </div>
            <div  class="modal-body">
                <a href="#/presentation/:idPresentation/remote" class="btn">Remote</a>
                <a href="#/presentation/:idPresentation/remote-with-notes" class="btn">Remote with notes</a>
                <a href="#/presentation/:idPresentation/notes" class="btn">Notes</a>
                <a href="#/presentation/:idPresentation/audiance" class="btn">Show presentation</a>
            </div>
            <div class="modal-footer">
                <a href="/#" class="btn btn-primary">Zum Dashboard</a>
            </div>
        </div>
    </div>
</div>
